:root{
--cor_detalhes: #641f1f;
--porcento_vida: 100%  ;
--cor_vida: green;
--porcento_sanidade: 100%;
--cor_sanidade: rgb(84, 84, 170);
--porcento_contagem: %;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input::placeholder{
    color: white;
    opacity: 0.7;
}
input:focus{
    outline: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{

    background-color: #313131;
    width: 100%;
}
#dinheiro{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 120px;
    height: 40px;

    border-radius: 0px 0px 20px 20px;
    border: solid 5px rgb(240, 203, 42);
    color: rgb(240, 203, 42);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
}

.topo{
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;    
}
.imagem{
    display: flex;
    z-index: 2;
}
#foto{
    display: none;
}
#fotolabel{
    width: 150px;
    height: 150px;
    background-color: #555555;
    background-image: var(--foto_personagem);
    border: 5px ridge var(--cor_detalhes);
    border-radius: 100px;
}
.titulos{
    width: 100%;
}
.titulos input{
    background-color: transparent;
    border: none;
    /* border-bottom: 3px solid var(--cor_detalhes); */
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}
.titulos select{
    margin-top: 10px;
    background-color: #ffffff00;
    border: none;
    /* border-bottom: 3px solid var(--cor_detalhes); */
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}
select option{
    background-color: #313131;
    color: white;
}
.titulos hr{
    border: 2px solid var(--cor_detalhes);
    margin-top: 2px;
    margin-left: -40px;
    z-index: 1;
}
#nivel{
    position: absolute;
    top: 50px;
    border: none;
    height: 35px;
    width: 10%;
    z-index: 3;
    text-align: center;
    border-radius: 5px;
    background-color: #0e0e0eb9;
    color: white;
}

.total{

    border: solid 2px white;
    color: white;
    height: 50px;
    width: 80%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.preencher_vida{
    position: absolute;
    background-color: var(--cor_vida);
    height: 100%;
    transition: width 0.4s ease;
    width: var(--porcento_vida);
    z-index: 1;
}

.total p{

    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    position: relative;
    z-index: 2;
}
.dentro_barra{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.dentro_barra input{
    width: 100px;
    text-align: center;
    border: none;
    font-size: 30px;
    background-color: transparent;
    color: white;
}

.botao_vida{
    width: 30px;
    height: 30px;

    background-color: white;
    border: none;
    border-radius: 30px;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.pontos{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pontos p{
    color: white;
    font-size: 15px;

    margin-top: 10px;
    
}

.sanidade{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.botao_sanidade{
    width: 30px;
    height: 30px;

    background-color: white;
    border: none;
    border-radius: 30px;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preencher_sanidade{
    position: absolute;
    background-color: var(--cor_sanidade);
    height: 100%;
    transition: width 0.4s ease;
    width: var(--porcento_sanidade);
    z-index: 1;
}

#ca{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 155px;
    left: 45px;
    z-index: 3;

    background-image: url('/img/escudo.svg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    text-align: center;    
    color: white;
    font-size: 20px;
    border: none;

    padding-bottom: 5px;
}

.contagem{
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.botao_contagem{
    width: 30px;
    height: 30px;

    background-color: white;
    border: none;
    border-radius: 30px;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nome_contagem{
    background-color: transparent;
    text-align: center;
    border: none;
    color: white;

}
.preencher_contagem{
    position: absolute;
    background-color: var(--cor_detalhes);
    height: 100%;
    transition: width 0.4s ease;
    width: var(--porcento_contagem);
    z-index: 1;
}
.atributos{
    margin-top: 20px;
    display: flex;
    width: 100%;
    background-color: transparent;
    
}
.atributo{
width: 90px;
height: 90px;

display: flex;
flex-direction: column;
align-items: center;
background-color: transparent;

color: white;
border: solid 2px var(--cor_detalhes);
border-radius: 10px;
}

.mod{
    width: 100%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    margin-top: -20px;
    z-index: -1;
    background-color: #0e0e0eb9;
    color: white;
    border: none;
    border-radius: 10px;
}
.pnt{
    width: 60%;
    height: 30%;
    border-radius: 20px;
    margin-top: -30%;
    text-align: center;
    border: none;
    background-color: var(--cor_detalhes);
    color: white;
    font-size: 16px;
}
.habilidades{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.habilidades h1{
    color: white;
    font-size: 20px;
}
.tabela_habilidades{
    width: 100%;
    margin-top: 20px;
    
}

.dano_habilidade{
    width: 100px;
}
.bonus_habilidade{
    width: 50px;
}
.custo_habilidade{
    width: 100px;

}
.habilidades th{
    text-align: left;
    color: white;
}
.habilidades input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}
